<launch>
    <arg name="pure_legs" default="true"/>
    
    <!-- Following based on people detection outputs -->
    <group unless="$(arg pure_legs)">
        <node pkg="adlink_neuronbot" type="neuronbot_following_fused.py" name="neuronbot_following"  output="screen">
            <param name="following_distance" value="0.9" type="double"/>
            <param name="debug_info" value="True"/>
            <remap from="/following/persons" to="/spencer/perception/tracked_persons"/>
            <remap from="/following/cmd_vel" to="/cmd_vel_mux/input/follow"/>
        </node>
    </group>

    <!-- Following based on pure leg detection outputs -->
    <group if="$(arg pure_legs)">
        <node pkg="adlink_neuronbot" type="neuronbot_following_legs.py" name="neuronbot_following"  output="screen">
            <param name="following_distance" value="0.85" type="double"/>
            <param name="debug_info" value="True"/>
            <param name="initPosX"  value="0.662" />
            <param name="initPosY"  value="0.427" />
            <param name="initOriZ"  value="0.965" />
            <param name="initOriW"  value="0.262" />
            <param name="initCovX"  value="0.5" />
            <param name="initCovY"  value="0.5" />
            <param name="initCovY"  value="0.1" />
            <param name="map_frame" value="map" />
            <remap from="/following/legs"    to="/people_tracked"/>
            <remap from="/following/cmd_vel" to="/cmd_vel_mux/input/follow"/>
        </node>
    </group>
</launch>
