<launch>
    <arg name="robot_base"       default="kobuki" />
    <arg name="dummy_transforms" default="false" />
    <arg name="host_robot"       default="true" />
    <arg name="camera_type"      default="D435" /> <!-- opt: Astra, Astra_Pro, D435 -->

    <!-- Camera Driver -->    
    <include file="$(find adlink_neuronbot)/launch/host/include/$(arg camera_type)_rgbd_driver.launch.xml"/>

    <!-- YDLidar Driver -->
    <include file="$(find adlink_neuronbot)/launch/include/ydlidar_driver.launch.xml"/>

    <!-- Robot TF -->
    <include file="$(find adlink_neuronbot)/launch/include/neuronbot_tf.launch.xml">
        <arg name="fake_odom_link" value="$(arg dummy_transforms)" />
        <arg name="host_robot"     value="$(arg host_robot)" />
    </include>

    <!-- Robot Base -->
    <include file="$(find adlink_neuronbot)/launch/include/neuronbot_$(arg robot_base).launch.xml" />
</launch>
